apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-169897051
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-169897051
    app.kubernetes.io/part-of: test-app-169897051
  name: go-169897051
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-169897051
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-169897051
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/cp2yerzb-tenant/test-app-169897051/go-169897051@sha256:598055850d9c39966f8136e4fab6d30530403634a260fe35e1a718d05b416e96
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
